[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 192.168.152.80  # Change this to your current IP

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.152.80  # Change this to your current IP
